We will need pandas and numpy.

In [29]:
import pandas as pd
import numpy as np

Read one of the csv files into a dataframe.

In [2]:
df = pd.read_csv("/home/cmckay/clusters/CQM/0.0-0.0-0.0-0.12578715094339624.csv")

In [3]:
df.head()

,time,thetadot_0(t),theta_0(t),theta_1(t),thetadot_1(t),p_0(t),p_1(t),V,V_1,T_0,L,V_0,T,T_1,E,H
0,0.000000,0.000000,0.000000e+00,0.000000,0.125787,0.031447,0.031447,0.000000,0.000000,0.000000e+00,0.001978,0.000000e+00,0.001978,0.001978,0.001978,0.001978
1,0.010001,0.000123,4.162894e-07,0.001257,0.125540,0.031447,0.031416,0.000004,0.000004,1.904470e-09,0.001970,4.245493e-13,0.001974,0.001974,0.001978,0.001978
2,0.020002,0.000493,3.292316e-06,0.002509,0.124801,0.031447,0.031324,0.000015,0.000015,3.035301e-08,0.001947,2.658318e-11,0.001962,0.001962,0.001978,0.001978
3,0.030003,0.001105,1.108152e-05,0.003752,0.123575,0.031446,0.031170,0.000035,0.000035,1.526581e-07,0.001909,3.011671e-10,0.001943,0.001943,0.001978,0.001978
4,0.040004,0.001956,2.619056e-05,0.004980,0.121867,0.031444,0.030956,0.000061,0.000061,4.780562e-07,0.001856,1.682281e-09,0.001917,0.001917,0.001978,0.001978

We can make an index out of one of the columns.

In [6]:
df = df.set_index('time')

In [7]:
df.head()

,thetadot_0(t),theta_0(t),theta_1(t),thetadot_1(t),p_0(t),p_1(t),V,V_1,T_0,L,V_0,T,T_1,E,H
time,,,,,,,,,,,,,,,
0.000000,0.000000,0.000000e+00,0.000000,0.125787,0.031447,0.031447,0.000000,0.000000,0.000000e+00,0.001978,0.000000e+00,0.001978,0.001978,0.001978,0.001978
0.010001,0.000123,4.162894e-07,0.001257,0.125540,0.031447,0.031416,0.000004,0.000004,1.904470e-09,0.001970,4.245493e-13,0.001974,0.001974,0.001978,0.001978
0.020002,0.000493,3.292316e-06,0.002509,0.124801,0.031447,0.031324,0.000015,0.000015,3.035301e-08,0.001947,2.658318e-11,0.001962,0.001962,0.001978,0.001978
0.030003,0.001105,1.108152e-05,0.003752,0.123575,0.031446,0.031170,0.000035,0.000035,1.526581e-07,0.001909,3.011671e-10,0.001943,0.001943,0.001978,0.001978
0.040004,0.001956,2.619056e-05,0.004980,0.121867,0.031444,0.030956,0.000061,0.000061,4.780562e-07,0.001856,1.682281e-09,0.001917,0.001917,0.001978,0.001978

Select columns like a dictionary.

In [8]:
df['E']

time
0.000000      0.001978
0.010001      0.001978
0.020002      0.001978
0.030003      0.001978
0.040004      0.001978
0.050005      0.001978
0.060006      0.001978
0.070007      0.001978
0.080008      0.001978
0.090009      0.001978
0.100010      0.001978
0.110011      0.001978
0.120012      0.001978
0.130013      0.001978
0.140014      0.001978
0.150015      0.001978
0.160016      0.001978
0.170017      0.001978
0.180018      0.001978
0.190019      0.001978
0.200020      0.001978
0.210021      0.001978
0.220022      0.001978
0.230023      0.001978
0.240024      0.001978
0.250025      0.001978
0.260026      0.001978
0.270027      0.001978
0.280028      0.001978
0.290029      0.001978
                ...
99.709971     0.001977
99.719972     0.001977
99.729973     0.001977
99.739974     0.001977
99.749975     0.001977
99.759976     0.001977
99.769977     0.001977
99.779978     0.001977
99.789979     0.001977
99.799980     0.001977
99.809981     0.001977
99.819982     0.001977
99.829983     0.001977
99.839984     0.001977
99.849985     0.001977
99.859986     0.001977
99.869987     0.001977
99.879988     0.001977
99.889989     0.001977
99.899990     0.001977
99.909991     0.001977
99.919992     0.001977
99.929993     0.001977
99.939994     0.001977
99.949995     0.001977
99.959996     0.001977
99.969997     0.001977
99.979998     0.001977
99.989999     0.001977
100.000000    0.001977
Name: E, dtype: float64

Use iloc to index like a list.

In [9]:
df['E'].iloc[0]

0.0019778009178068601

In [10]:
df['E'].iloc[-1]

0.0019770242241108353

In [12]:
def calc_energy_ratio(df):
    """Calculate the ratio of initial to final energy.
    
    arguments:
    df: dataframe
    """
    initial_energy = df['E'].iloc[0]
    final_energy = df['E'].iloc[-1]
    
    return initial_energy/final_energy

In [13]:
help(calc_energy_ratio)

Help on function calc_energy_ratio in module __main__:

calc_energy_ratio(df)
    Calculate the ratio of initial to final energy.

    arguments:
    df: dataframe

In [14]:
calc_energy_ratio(df)

1.0003928599794341

In [15]:
df2 = pd.read_csv("/home/cmckay/clusters/CQM/0.0-0.0-0.0-2.3899378679245284.csv")

In [16]:
calc_energy_ratio(df2)

1.0000013294493943

Change our function to handle a filename instead of a dataframe.

In [35]:
def calc_stuff_from_file(filename):
    """Calculate some information about a data set.
    
    arguments:
    filename: string pointing to a csv file
    
    We will calculate:
    - the ratio of starting to ending energy
    - median p_0(t)
    - median p_1(1)
    """
    values_dict = dict()
    
    df = pd.read_csv(filename)
    initial_energy = df['E'].iloc[0]
    final_energy = df['E'].iloc[-1]
    values_dict['energy_ratio'] = initial_energy/final_energy
    
    medians = df.apply(np.median)
    values_dict['p0med'] = medians['p_0(t)']
    values_dict['p1med'] = medians['p_1(t)']
    
    return values_dict

In [37]:
calc_stuff_from_file("/home/cmckay/clusters/CQM/0.0-0.0-0.0-0.4402525283018868.csv")

{'energy_ratio': 1.0000214090174178,
 'p0med': 7.7208400257110926e-05,
 'p1med': -0.0002919508676470766}

Glob allows us to deal with multiple files using wildcards.

In [19]:
import glob

In [20]:
csvfiles = glob.glob("/home/cmckay/clusters/CQM/*.csv")

In [21]:
type(csvfiles)

list

In [22]:
len(csvfiles)

640

In [23]:
csvfiles[0:3]

['/home/cmckay/clusters/CQM/0.0-0.0-0.503145603773585-0.0.csv',
 '/home/cmckay/clusters/CQM/0.0-0.0-4.088050905660378-0.0.csv',
 '/home/cmckay/clusters/CQM/0.0-0.0-7.735849283018869-0.0.csv']

In [25]:
energy_ratios = []

for thefile in csvfiles[0:10]:
    energy_ratios.append(calc_energy_ratio_from_file(thefile))

In [26]:
energy_ratios

[1.0000153716056066,
 1.0000000397253885,
 1.0000051514333965,
 1.0000007680350425,
 0.99999945562691683,
 1.0000039239381104,
 1.0003184746178055,
 1.0000020636686926,
 1.0000024326427803,
 1.0000072577762991]

In [38]:
calculated_values = []
for thefile in csvfiles[0:10]:
    calculated_values.append(calc_stuff_from_file(thefile))

In [39]:
calc_df = pd.DataFrame(calculated_values)
calc_df

   energy_ratio     p0med     p1med
0      1.000015 -0.000712 -0.000374
1      1.000000  0.010547  0.001908
2      1.000005 -0.103441  0.120437
3      1.000001 -0.001357  0.037266
4      0.999999  0.001847 -0.000237
5      1.000004  0.338110  0.233669
6      1.000318 -0.000629 -0.000100
7      1.000002  0.025534  0.010311
8      1.000002 -0.003493 -0.001565
9      1.000007 -0.000129 -0.000522

In [40]:
calc_df.to_csv('hw7.csv')

Use `apply` to run a function on all of the columns.

In [33]:
medians = df.apply(np.median)
medians

thetadot_0(t)    0.000022
theta_0(t)      -0.000017
theta_1(t)       0.000242
thetadot_1(t)   -0.000013
p_0(t)           0.000011
p_1(t)          -0.000070
V                0.000990
V_1              0.000719
T_0              0.000127
L               -0.000001
V_0              0.000168
T                0.000988
T_1              0.000699
E                0.001977
H                0.001977
dtype: float64

In [34]:
medians['p_0(t)']

1.072638454539636e-05

In [32]:
df.apply(np.median, axis=1)

time
0.000000      0.001978
0.010001      0.001970
0.020002      0.001962
0.030003      0.001943
0.040004      0.001917
0.050005      0.001884
0.060006      0.001844
0.070007      0.001799
0.080008      0.001749
0.090009      0.001695
0.100010      0.001637
0.110011      0.001576
0.120012      0.001513
0.130013      0.001449
0.140014      0.001385
0.150015      0.001321
0.160016      0.001524
0.170017      0.001803
0.180018      0.001978
0.190019      0.001978
0.200020      0.001978
0.210021      0.001978
0.220022      0.001978
0.230023      0.001978
0.240024      0.001978
0.250025      0.001978
0.260026      0.001978
0.270027      0.001248
0.280028      0.001279
0.290029      0.001309
                ...
99.709971     0.000303
99.719972     0.000361
99.729973     0.000421
99.739974     0.000483
99.749975     0.000545
99.759976     0.000607
99.769977     0.000669
99.779978     0.000730
99.789979     0.000788
99.799980     0.000845
99.809981     0.000860
99.819982     0.000918
99.829983     0.000973
99.839984     0.000933
99.849985     0.000891
99.859986     0.000851
99.869987     0.000814
99.879988     0.000779
99.889989     0.001231
99.899990     0.001259
99.909991     0.001283
99.919992     0.001303
99.929993     0.001318
99.939994     0.001329
99.949995     0.001336
99.959996     0.001339
99.969997     0.001338
99.979998     0.001333
99.989999     0.001527
100.000000    0.001559
dtype: float64